.MainPage__container{
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}
.MainPage__sidebar {
  background: #fff;
  height:100%;
  padding: .5rem 0 .5rem .5rem;
  border-right: #ccc 1px solid;
}
